
.vs/line_characteristic_calculator/v15/Browse.VC.db
.vs/line_characteristic_calculator/v15/.suo
.vs/line_characteristic_calculator/v15/Browse.VC.opendb
.vs/line_characteristic_calculator/v15/ipch/AutoPCH/962708355a9878da/TRY1.ipch
.vs/line_characteristic_calculator/v15/ipch/d65a55bb96c212f0.ipch
Debug/line_characteristic_calculator/App.xbf
Debug/line_characteristic_calculator/AppX/App.xbf
Debug/line_characteristic_calculator/AppX/AppxManifest.xml
Debug/line_characteristic_calculator/AppX/Assets/LockScreenLogo.scale-200.png
Debug/line_characteristic_calculator/AppX/Assets/SplashScreen.scale-200.png
Debug/line_characteristic_calculator/AppX/Assets/Square150x150Logo.scale-200.png
Debug/line_characteristic_calculator/AppX/Assets/Square44x44Logo.scale-200.png
Debug/line_characteristic_calculator/AppX/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
Debug/line_characteristic_calculator/AppX/Assets/StoreLogo.png
Debug/line_characteristic_calculator/AppX/Assets/Wide310x150Logo.scale-200.png
Debug/line_characteristic_calculator/AppX/line_characteristic_calculator.exe
Debug/line_characteristic_calculator/AppX/line_characteristic_calculator.winmd
Debug/line_characteristic_calculator/AppX/MainPage.xbf
Debug/line_characteristic_calculator/AppX/resources.pri
Debug/line_characteristic_calculator/AppX/ucrtbased.dll
Debug/line_characteristic_calculator/AppX/vs.appxrecipe
Debug/line_characteristic_calculator/AppxManifest.xml
Debug/line_characteristic_calculator/line_characteristic_calculator.build.appxrecipe
Debug/line_characteristic_calculator/line_characteristic_calculator.exe
Debug/line_characteristic_calculator/line_characteristic_calculator.exp
Debug/line_characteristic_calculator/line_characteristic_calculator.ilk
Debug/line_characteristic_calculator/line_characteristic_calculator.lib
Debug/line_characteristic_calculator/line_characteristic_calculator.pdb
Debug/line_characteristic_calculator/line_characteristic_calculator.winmd
Debug/line_characteristic_calculator/MainPage.xbf
Debug/line_characteristic_calculator/resources.pri
line_characteristic_calculator/App_old.xaml
line_characteristic_calculator/App_old.xaml.cpp
line_characteristic_calculator/App_old.xaml.h
line_characteristic_calculator/Debug/App.xaml.obj
line_characteristic_calculator/Debug/calculator.obj
line_characteristic_calculator/Debug/embed/embed.resfiles
line_characteristic_calculator/Debug/embed/embed.resfiles.intermediate
line_characteristic_calculator/Debug/excluded.layout.resfiles
line_characteristic_calculator/Debug/excluded.layout.resfiles.intermediate
line_characteristic_calculator/Debug/filtered.layout.resfiles
line_characteristic_calculator/Debug/filtered.layout.resfiles.intermediate
line_characteristic_calculator/Debug/line_cha.c50636f7.tlog/CL.command.1.tlog
line_characteristic_calculator/Debug/line_cha.c50636f7.tlog/CL.read.1.tlog
line_characteristic_calculator/Debug/line_cha.c50636f7.tlog/CL.write.1.tlog
line_characteristic_calculator/Debug/line_cha.c50636f7.tlog/line_characteristic_calculator.lastbuildstate
line_characteristic_calculator/Debug/line_cha.c50636f7.tlog/line_characteristic_calculator.read.1u.tlog
line_characteristic_calculator/Debug/line_cha.c50636f7.tlog/line_characteristic_calculator.winmd.lastbuild
line_characteristic_calculator/Debug/line_cha.c50636f7.tlog/line_characteristic_calculator.write.1u.tlog
line_characteristic_calculator/Debug/line_cha.c50636f7.tlog/link.command.1.tlog
line_characteristic_calculator/Debug/line_cha.c50636f7.tlog/link.delete.1.tlog
line_characteristic_calculator/Debug/line_cha.c50636f7.tlog/link.read.1.tlog
line_characteristic_calculator/Debug/line_cha.c50636f7.tlog/link.write.1.tlog
line_characteristic_calculator/Debug/line_cha.c50636f7.tlog/Xaml.read.1u.tlog
line_characteristic_calculator/Debug/line_characteristic_calculator.log
line_characteristic_calculator/Debug/line_characteristic_calculator.pch
line_characteristic_calculator/Debug/MainPage.xaml.obj
line_characteristic_calculator/Debug/MultipleQualifiersPerDimensionFound.txt
line_characteristic_calculator/Debug/pch.obj
line_characteristic_calculator/Debug/pri.resfiles
line_characteristic_calculator/Debug/pri.resfiles.intermediate
line_characteristic_calculator/Debug/priconfig.xml
line_characteristic_calculator/Debug/priconfig.xml.intermediate
line_characteristic_calculator/Debug/ProjectArchitectures.txt
line_characteristic_calculator/Debug/qualifiers.txt
line_characteristic_calculator/Debug/qualifiers.txt.intermediate
line_characteristic_calculator/Debug/ResourceHandlingTask.state
line_characteristic_calculator/Debug/resources.resfiles
line_characteristic_calculator/Debug/resources.resfiles.intermediate
line_characteristic_calculator/Debug/unfiltered.layout.resfiles
line_characteristic_calculator/Debug/unfiltered.layout.resfiles.intermediate
line_characteristic_calculator/Debug/vc141.idb
line_characteristic_calculator/Debug/vc141.pdb
line_characteristic_calculator/Debug/XamlSaveStateFile.xml
line_characteristic_calculator/Debug/XamlTypeInfo.g.obj
line_characteristic_calculator/Debug/XamlTypeInfo.Impl.g.obj
.vs/line_characteristic_calculator/v15/ipch/4bd0580ebb59fcb.ipch
